<!DOCTYPE html>
<html lang="en">
<head id="headId">
    <meta charset="UTF-8">
    <title>Game over</title>
</head>
<body>
    <div align="center">
        <h1>Guess The Number Game</h1>
        <h2>Game Over!</h2>
        <h3 id="ResultMessage">Result Message</h3>
        <h3>
            <a id="playAgain">
                Play Again
            </a>
        </h3>
        <h3>
            <a id="home">
                Home
            </a>
        </h3>
    </div>

    <footer id="footerId">
        <p align="center">
            You can copy paste it
        </p>
    </footer>

</body>
</html>
<!--Нельзя делать пробелы в th:text-->